<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#travelkit-navbar-collapse" aria-controls="travelkit-navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">{{ .Site.Name }}</a>
  <div class="collapse navbar-collapse" id="travelkit-navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active"><a class="nav-link" href="/contacts">Contacts <span class="sr-only">(current)</span></a></li>
      <li class="nav-item active"><a class="nav-link" href="/emails">Emails <span class="sr-only">(current)</span></a></li>
      <li class="nav-item active"><a class="nav-link" href="/media">Media <span class="sr-only">(current)</span></a></li>
      <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
    </ul>
    <form class="form-inline my-2 my-lg-0 search-form">
      <input name="search_input" class="form-control mr-sm-2 search-input" type="text" placeholder="Search" value="{{ .Query.Text }}">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
