<html>
  <head>
    {{ template "_include_head.tpl.html" . }}
    <script>
    $(function(){
      $(".search-form").submit(function(e){
          e.preventDefault();
          window.location = "/emails?text="+$(".search-input", this).val();
      });
    });
    </script>
    <script>
    $(function(){
      showMore = function(id)
      {
        var pane = $("#"+id);
        var page_max = pane.data("page-max");

        var url = "/api/emails/list/page/"+(page_max+1);
        var params = []
        var text = $(".travelkit").data("query-text");
        if(text != undefined)
        {
          text = ""+text
          if(text.length > 0)
          {
            params.push("text="+text)
          }
        }
        var order = $(".travelkit").data("query-order");
        if(order != undefined)
        {
          order = ""+order
          if(order.length > 0)
          {
            params.push("order="+order)
          }
        }

        if(params.length > 0)
        {
          url += "?"+params.join("&");
        }

        $.when($.ajax({dataType: "json", url: url})).done(function(response){
          var pane = $("#"+id);
          pane.data("page-max",pane.data("page-max") + 1);
          console.log("load the following into the pane", response);

          for(var i = 0; i < response.length; i++)
          {
            var x = response[i];
            var email = (x.emails != undefined && x.emails != null &&  x.emails.length > 0) ? x.emails[0] : "--";
            var card = '<div class="card" style="display: inline-block; width: 200px;">';
            
            card += '<div class="card-block" style="text-align:center;"><h6 class="card-title">'+x.id+'</h6><p class="card-text" style=""><small class="text-muted">'+email+'</small></p><a target="_blank" href="/contacts/view?id='+x.id+'" class="btn btn-primary" style="margin-bottom:4px;">View</a><a target="_blank" href="/api/contacts/download/'+x.id+'" class="btn btn-primary" style="margin-bottom:4px;">Download</a></div>';
            card += '</div>';
            $(".card-deck", pane).append(card);
          }

        });
      };
    });
    </script>
  </head>
  <body>
    {{ template "_include_header.tpl.html" . }}
    <div class="container-fluid travelkit" data-query-text="{{ .Query.Text }}" data-query-order="{{ .Query.Order }}">
      <div class="row">
        <div class="col-md-3" style="padding:15px;">
          <div class="page-header"><h3>Filters:</h3></div>
          {{ template "_include_filter_text.tpl.html" . }}
        </div>
        <div class="col-md-9" style="padding:15px;">
          <ul class="nav nav-tabs" role="tablist" style="position:relative;">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" role="tab" href="#emails_all">All</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" role="tab" href="#emails_7days">Last 7 Days</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" role="tab" href="#emails_30days">Last 30 Days</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" role="tab" href="#emails_90days">Last 90 Days</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" role="tab" href="#emails_180days">Last 180 Days</a>
            </li>
            <div class="dropdown btn-group" style="position:absolute;top:0px;right:0px;">
              <button
                type="button"
                class="btn btn-primary dropdown-toggle"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">Order</button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2" style="left:auto;right:0px;">
                {{ range $key, $value := .Orders }}
                <a class="{{ $value.class }}" href="{{ $value.url }}">{{ $value.title }}</a>
                {{ end }}
                <div class="dropdown-divider"></div>
              </div>
            </div>
          </ul>
          <div class="tab-content">
            <div id="emails_all" class="tab-pane fade active show" role="tabpanel" style="padding:15px;" data-page-max="0">
              {{ if .EmailsAll }}
              <div class="card-deck">
                {{ range $key, $value := .EmailsAll }}
                {{ template "_include_card_email.tpl.html" $value }}
                {{ end }}
              </div>
              {{ template "_include_show_more.tpl.html" "emails_all" }}
              {{ else }}
              <h4>No Emails Present.</h4>
              {{ end }}
            </div>
            <div id="emails_7days" class="tab-pane fade" role="tabpanel" style="padding:15px;" data-emails-days="7" data-page-max="0">
              {{ if .Emails7Days }}
              <div class="card-deck">
                {{ range $key, $value := .Emails7Days }}
                {{ template "_include_card_email.tpl.html" $value }}
                {{ end }}
              </div>
              {{ template "_include_show_more.tpl.html" "emails_all" }}
              {{ else }}
              <h4>No Emails Present.</h4>
              {{ end }}
            </div>
            <div id="emails_30days" class="tab-pane fade" role="tabpanel" style="padding:15px;" data-emails-days="30" data-page-max="0">
              {{ if .Emails30Days }}
              <div class="card-deck">
                {{ range $key, $value := .Emails30Days }}
                {{ template "_include_card_email.tpl.html" $value }}
                {{ end }}
              </div>
              {{ template "_include_show_more.tpl.html" "emails_all" }}
              {{ else }}
              <h4>No Emails Present.</h4>
              {{ end }}
            </div>
            <div id="emails_90days" class="tab-pane fade" role="tabpanel" style="padding:15px;" data-emails-days="90" data-page-max="0">
              {{ if .Emails90Days }}
              <div class="card-deck">
                {{ range $key, $value := .Emails90Days }}
                {{ template "_include_card_email.tpl.html" $value }}
                {{ end }}
              </div>
              {{ template "_include_show_more.tpl.html" "emails_all" }}
              {{ else }}
              <h4>No Emails Present.</h4>
              {{ end }}
            </div>
            <div id="emails_180days" class="tab-pane fade" role="tabpanel" style="padding:15px;" data-emails-days="180" data-page-max="0">
              {{ if .Emails180Days }}
              <div class="card-deck">
                {{ range $key, $value := .Emails180Days }}
                {{ template "_include_card_email.tpl.html" $value }}
                {{ end }}
              </div>
              {{ template "_include_show_more.tpl.html" "emails_all" }}
              {{ else }}
              <h4>No Emails Present.</h4>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
