<html>
  <head>
    <title>Media</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
      integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://openlayers.org/en/v3.20.1/css/ol.css" type="text/css">
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
    <script
      src="http://code.jquery.com/jquery-2.2.4.min.js"
      integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
      crossorigin="anonymous"></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
      integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
      crossorigin="anonymous"></script>
    <script src="https://openlayers.org/en/v3.20.1/build/ol.js"></script>
    <script>
      $(function(){

      });
    </script>
  </head>
  <body>
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#travelkit-navbar-collapse" aria-controls="travelkit-navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">Travel Kit</a>
      <div class="collapse navbar-collapse" id="travelkit-navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active"><a class="nav-link" href="/media">Media <span class="sr-only">(current)</span></a></li>
          <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="card-deck">
        {{ range $key, $value := .Media }}
        <div class="card" style="display: inline-block; width: 200px; max-height: 400px;">
          <a
            target="_blank"
            href="/media/view/{{$key}}"
            style="display: block; overflow: hidden; text-align:center; height: 200px; background:rgb(200,200,200);">
            <img
              class="card-img-top"
              src="/api/media/download/{{$key}}"
              alt="Card image cap"
              style="max-width:100%; height: auto; transform: rotate({{ $value.Rotation }}deg);">
          </a>
          <div class="card-block" style="text-align:center;">
            <h6 class="card-title">{{$key}}</h6>
            <p class="card-text" style=""><small class="text-muted">{{ $value.Date }}</small></p>
            <a
              target="_blank"
              href="/media/view/{{$key}}"
              class="btn btn-primary">View</a>
            <a
              target="_blank"
              href="/api/media/download/{{$key}}"
              class="btn btn-primary">Download</a>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </body>
</html>
