<html>
  <head>
    {{ template "_include_head.tpl.html" . }}
    <script>
    $(function(){
      showMore = function(id)
      {
        var pane = $("#"+id);
        var page_max = pane.data("page-max");

        var url = "/api/media/list/type/"+pane.data("media-type")+"/days/"+pane.data("media-days")+"/page/"+(page_max+1);

        $.when($.ajax({dataType: "json", url: url})).done(function(response){
          var pane = $("#"+id);
          pane.data("page-max",pane.data("page-max") + 1);
          console.log("load the following into the pane", response);

          for(var i = 0; i < response.length; i++)
          {
            var x = response[i];
            var card = '<div class="card" style="display: inline-block; width: 200px; max-height: 400px;">';
            card += '<a target="_blank" href="/media/view/'+x.Id+'" style="display: block; overflow: hidden; text-align:center; height: 200px; background:rgb(200,200,200);">';
            if(x.IsImage)
            {
              card += '<img class="card-img-top" src="/api/media/thumbnail/'+x.Id+'" alt="'+x.Id+'" style="max-width:100%; height: auto; transform: rotate('+x.Rotation+'deg);">';
            }
            else if(x.isVideo)
            {
              card += '<video id="video" width="220" height="200"><source src="/api/media/download/'+x.Id+'" type="video/mp4"></video>';
            }
            card += '</a>';
            card += '<div class="card-block" style="text-align:center;"><h6 class="card-title">'+x.Id+'</h6><p class="card-text" style=""><small class="text-muted">'+x.Date+'</small></p><a target="_blank" href="/media/view/'+x.Id+'" class="btn btn-primary" style="margin-bottom:4px;">View</a><a target="_blank" href="/api/media/download/'+x.Id+'" class="btn btn-primary" style="margin-bottom:4px;">Download</a></div>';
            card += '</div>';
            $(".card-deck", pane).append(card);
          }

        });
      };
    });
    </script>
  </head>
  <body>
    {{ template "_include_header.tpl.html" . }}
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3" style="padding:15px;">
          <div class="page-header"><h3>Filters:</h3></div>
          <a class="alert alert-info" style="display:block;cursor:pointer;user-select:none;text-decoration:none;" data-toggle="collapse" href="#filter_text" aria-expanded="false" aria-controls="filter_types">
            <div class="row">
              <div class="col-md-10"><strong>Text</strong></div>
              <div class="col-md-2" style="float:right;font-size:1.4rem;"><i class="fa fa-chevron-circle-down" aria-hidden="true"></i></div>
            </div>
          </a>
          <div id="filter_text" class="collapse show">
            <form class="form-inline search-form">
              <input name="search_input" class="form-control search-input" style="width:calc(100% - 94px); margin-right: 4px;" type="text" placeholder="Search" value="{{ .Query.Text }}">
              <button class="btn btn-primary" type="submit">Search</button>
            </form>
          </div>
          <a class="alert alert-info" style="display:block;cursor:pointer;user-select:none;text-decoration:none;" data-toggle="collapse" href="#filter_types" aria-expanded="false" aria-controls="filter_types">
            <div class="row">
              <div class="col-md-10"><strong>Type</strong></div>
              <div class="col-md-2" style="float:right;font-size:1.4rem;"><i class="fa fa-chevron-circle-down" aria-hidden="true"></i></div>
            </div>
          </a>
          <div id="filter_types" class="collapse show">
            <div class="list-group" style="margin-bottom: 1rem;">
              {{ range $key, $value := .Types }}
              <a
                href="{{ $value.url }}"
                class="{{ $value.class }}">{{ $value.title }}<span class="badge badge-default badge-pill">{{ $value.count }}</span></a>
              {{ end }}
            </div>
          </div>
          <a class="alert alert-info" style="display:block;cursor:pointer;user-select:none;text-decoration:none;" data-toggle="collapse" href="#filter_years" aria-expanded="false" aria-controls="filter_years">
            <div class="row">
              <div class="col-md-10"><strong>Years</strong></div>
              <div class="col-md-2" style="float:right;font-size:1.4rem;"><i class="fa fa-chevron-circle-down" aria-hidden="true"></i></div>
            </div>
          </a>
          <div id="filter_years" class="collapse">
            <div class="list-group" style="margin-bottom: 1rem;">
              <a
                href="/media?type={{ .TypeOfMedia }}"
                class="list-group-item list-group-item-action justify-content-between {{ if .All }} active {{ end }}">All<span class="badge badge-default badge-pill">{{ .CountsByType.all }}</span></a>
              {{ if .Years }}
              {{ range $key, $value := .Years }}
              <a
                href="/media?type={{ .TypeOfMedia }}&amp;year={{ $value.year }}"
                class="list-group-item list-group-item-action justify-content-between{{ if $value.active }} active {{ end }}">{{ $value.year }}<span class="badge badge-default badge-pill">{{ $value.count }}</span></a>
              {{ end }}
              {{ else }}
              <h4>No Years Provided.</h4>
              {{ end }}
            </div>
          </div>
        </div>
        <div class="col-md-9" style="padding:15px;">
          <ul class="nav nav-tabs" role="tablist" style="position:relative;">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" role="tab" href="#media_all">All</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" role="tab" href="#media_7days">Last 7 Days</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" role="tab" href="#media_30days">Last 30 Days</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" role="tab" href="#media_90days">Last 90 Days</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" role="tab" href="#media_180days">Last 180 Days</a>
            </li>
            <div class="dropdown btn-group" style="position:absolute;top:0px;right:0px;">
              <button
                type="button"
                class="btn btn-primary dropdown-toggle"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">Order</button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2" style="left:auto;right:0px;">
                {{ range $key, $value := .Orders }}
                <a class="{{ $value.class }}" href="{{ $value.url }}">{{ $value.title }}</a>
                {{ end }}
                <div class="dropdown-divider"></div>
              </div>
            </div>
          </ul>
          <div class="tab-content">
            <div id="media_all" class="tab-pane fade active show" role="tabpanel" style="padding:15px;" data-media-type="{{.TypeOfMedia}}" data-media-days="0" data-page-max="0">
              {{ if .MediaAll }}
              <div class="card-deck">
                {{ range $key, $value := .MediaAll }}
                <div class="card" style="display: inline-block; width: 200px; max-height: 400px;">
                  <a
                    target="_blank"
                    href="/media/view/{{ $value.Id }}"
                    style="display: block; overflow: hidden; text-align:center; height: 200px; background:rgb(200,200,200);">
                    {{ if $value.IsImage }}
                    <img
                      class="card-img-top"
                      src="/api/media/thumbnail/{{ $value.Id }}"
                      alt="Card image cap"
                      style="max-width:100%; height: auto; transform: rotate({{ $value.Rotation }}deg);">
                    {{ else if $value.IsVideo }}
                    <video id="video" width="220" height="200">
                      <source src="/api/media/download/{{ $value.Id }}" type="video/mp4">
                    </video>
                    {{ end }}
                  </a>
                  <div class="card-block" style="text-align:center;">
                    <h6 class="card-title">{{ $value.Id }}</h6>
                    <p class="card-text" style=""><small class="text-muted">{{ $value.Date }}</small></p>
                    <a
                      target="_blank"
                      href="/media/view/{{ $value.Id }}"
                      class="btn btn-primary" style="margin-bottom:4px;">View</a>
                    <a
                      target="_blank"
                      href="/api/media/download/{{ $value.Id }}"
                      class="btn btn-primary" style="margin-bottom:4px;">Download</a>
                  </div>
                </div>
                {{ end }}
              </div>
              <button
                class="btn btn-warning"
                type="button"
                style="width: 100%;margin-top: 15px;cursor: pointer;"
                onclick="showMore('media_all')">Show More</button>
              {{ else }}
              <h4>No Media Present.</h4>
              {{ end }}
            </div>
            <div id="media_7days" class="tab-pane fade" role="tabpanel" style="padding:15px;" data-media-type="{{.TypeOfMedia}}" data-media-days="7" data-page-max="0">
              {{ if .Media7Days }}
              <div class="card-deck">
                {{ range $key, $value := .Media7Days }}
                <div class="card" style="display: inline-block; width: 200px; max-height: 400px;">
                  <a
                    target="_blank"
                    href="/media/view/{{ $value.Id }}"
                    style="display: block; overflow: hidden; text-align:center; height: 200px; background:rgb(200,200,200);">
                    {{ if $value.IsImage }}
                    <img
                      class="card-img-top"
                      src="/api/media/thumbnail/{{ $value.Id }}"
                      alt="Card image cap"
                      style="max-width:100%; height: auto; transform: rotate({{ $value.Rotation }}deg);">
                    {{ else if $value.IsVideo }}
                    <video id="video" width="220" height="200">
                      <source src="/api/media/download/{{ $value.Id }}" type="video/mp4">
                    </video>
                    {{ end }}
                  </a>
                  <div class="card-block" style="text-align:center;">
                    <h6 class="card-title">{{ $value.Id }}</h6>
                    <p class="card-text" style=""><small class="text-muted">{{ $value.Date }}</small></p>
                    <a
                      target="_blank"
                      href="/media/view/{{ $value.Id }}"
                      class="btn btn-primary" style="margin-bottom:4px;">View</a>
                    <a
                      target="_blank"
                      href="/api/media/download/{{ $value.Id }}"
                      class="btn btn-primary" style="margin-bottom:4px;">Download</a>
                  </div>
                </div>
                {{ end }}
              </div>
              <button
                class="btn btn-warning"
                type="button"
                style="width: 100%;margin-top: 15px;cursor: pointer;"
                onclick="showMore('media_7days')">Show More</button>
              {{ else }}
              <h4>No Media in Last 7 Days.</h4>
              {{ end }}
            </div>
            <div id="media_30days" class="tab-pane fade" role="tabpanel" style="padding:15px;" data-media-type="{{.TypeOfMedia}}" data-media-days="30" data-page-max="0">
              {{ if .Media30Days }}
              <div class="card-deck">
                {{ range $key, $value := .Media30Days }}
                <div class="card" style="display: inline-block; width: 200px; max-height: 400px;">
                  <a
                    target="_blank"
                    href="/media/view/{{ $value.Id }}"
                    style="display: block; overflow: hidden; text-align:center; height: 200px; background:rgb(200,200,200);">
                    {{ if $value.IsImage }}
                    <img
                      class="card-img-top"
                      src="/api/media/thumbnail/{{ $value.Id }}"
                      alt="Card image cap"
                      style="max-width:100%; height: auto; transform: rotate({{ $value.Rotation }}deg);">
                    {{ else if $value.IsVideo }}
                    <video id="video" width="220" height="200">
                      <source src="/api/media/download/{{ $value.Id }}" type="video/mp4">
                    </video>
                    {{ end }}
                  </a>
                  <div class="card-block" style="text-align:center;">
                    <h6 class="card-title">{{ $value.Id }}</h6>
                    <p class="card-text" style=""><small class="text-muted">{{ $value.Date }}</small></p>
                    <a
                      target="_blank"
                      href="/media/view/{{ $value.Id }}"
                      class="btn btn-primary" style="margin-bottom:4px;">View</a>
                    <a
                      target="_blank"
                      href="/api/media/download/{{ $value.Id }}"
                      class="btn btn-primary" style="margin-bottom:4px;">Download</a>
                  </div>
                </div>
                {{ end }}
              </div>
              <button
                class="btn btn-warning"
                type="button"
                style="width: 100%;margin-top: 15px;cursor: pointer;"
                onclick="showMore('media_30days')">Show More</button>
              {{ else }}
              <h4>No Media in Last 30 Days.</h4>
              {{ end }}
            </div>
            <div id="media_90days" class="tab-pane fade" role="tabpanel" style="padding:15px;" data-media-type="{{.TypeOfMedia}}" data-media-days="90" data-page-max="0">
              {{ if .Media90Days }}
              <div class="card-deck">
                {{ range $key, $value := .Media90Days }}
                <div class="card" style="display: inline-block; width: 200px; max-height: 400px;">
                  <a
                    target="_blank"
                    href="/media/view/{{ $value.Id }}"
                    style="display: block; overflow: hidden; text-align:center; height: 200px; background:rgb(200,200,200);">
                    {{ if $value.IsImage }}
                    <img
                      class="card-img-top"
                      src="/api/media/thumbnail/{{ $value.Id }}"
                      alt="Card image cap"
                      style="max-width:100%; height: auto; transform: rotate({{ $value.Rotation }}deg);">
                    {{ else if $value.IsVideo }}
                    <video id="video" width="220" height="200">
                      <source src="/api/media/download/{{ $value.Id }}" type="video/mp4">
                    </video>
                    {{ end }}
                  </a>
                  <div class="card-block" style="text-align:center;">
                    <h6 class="card-title">{{ $value.Id }}</h6>
                    <p class="card-text" style=""><small class="text-muted">{{ $value.Date }}</small></p>
                    <a
                      target="_blank"
                      href="/media/view/{{ $value.Id }}"
                      class="btn btn-primary" style="margin-bottom:4px;">View</a>
                    <a
                      target="_blank"
                      href="/api/media/download/{{ $value.Id }}"
                      class="btn btn-primary" style="margin-bottom:4px;">Download</a>
                  </div>
                </div>
                {{ end }}
              </div>
              <button
                class="btn btn-warning"
                type="button"
                style="width: 100%;margin-top: 15px;cursor: pointer;"
                onclick="showMore('media_90days')">Show More</button>
              {{ else }}
              <h4>No Media in Last 90 Days.</h4>
              {{ end }}
            </div>
            <div id="media_180days" class="tab-pane fade" role="tabpanel" style="padding:15px;" data-media-type="{{.TypeOfMedia}}" data-media-days="180" data-page-max="0">
              {{ if .Media180Days }}
              <div class="card-deck">
                {{ range $key, $value := .Media180Days }}
                <div class="card" style="display: inline-block; width: 200px; max-height: 400px;">
                  <a
                    target="_blank"
                    href="/media/view/{{ $value.Id }}"
                    style="display: block; overflow: hidden; text-align:center; height: 200px; background:rgb(200,200,200);">
                    {{ if $value.IsImage }}
                    <img
                      class="card-img-top"
                      src="/api/media/thumbnail/{{ $value.Id }}"
                      alt="Card image cap"
                      style="max-width:100%; height: auto; transform: rotate({{ $value.Rotation }}deg);">
                    {{ else if $value.IsVideo }}
                    <video id="video" width="220" height="200">
                      <source src="/api/media/download/{{ $value.Id }}" type="video/mp4">
                    </video>
                    {{ end }}
                  </a>
                  <div class="card-block" style="text-align:center;">
                    <h6 class="card-title">{{ $value.Id }}</h6>
                    <p class="card-text" style=""><small class="text-muted">{{ $value.Date }}</small></p>
                    <a
                      target="_blank"
                      href="/media/view/{{ $value.Id }}"
                      class="btn btn-primary" style="margin-bottom:4px;">View</a>
                    <a
                      target="_blank"
                      href="/api/media/download/{{ $value.Id }}"
                      class="btn btn-primary" style="margin-bottom:4px;">Download</a>
                  </div>
                </div>
                {{ end }}
              </div>
              <button
                class="btn btn-warning"
                type="button"
                style="width: 100%;margin-top: 15px;cursor: pointer;"
                onclick="showMore('media_180days')">Show More</button>
              {{ else }}
              <h4>No Media in Last 180 Days.</h4>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
