<html>
  <head>
    {{ template "_include_head.tpl.html" . }}
    {{ if .IsImage }}
    <script>
      $(function(){
        //var extent = [0, 0, 1024, 968];
        var extent = [0, 0, {{.Width}}, {{.Height}}]
        var projection = new ol.proj.Projection({
          code: 'xkcd-image',
          units: 'pixels',
          extent: extent
        });

        var map = new ol.Map({
          controls: ol.control.defaults().extend([
            new ol.control.FullScreen()
          ]),
          /*interactions: ol.interaction.defaults().extend([
            new ol.interaction.DragRotateAndZoom()
          ]),*/
          layers: [
            new ol.layer.Image({
              source: new ol.source.ImageStatic({
                attributions: '© <a href="http://xkcd.com/license.html">xkcd</a>',
                url: {{.URI}},
                projection: projection,
                imageExtent: [0, 0, {{.Width}}, {{.Height}}]
              })
            })
          ],
          target: 'map',
          view: new ol.View({
            projection: projection,
            center: ol.extent.getCenter(extent),
            zoom: 1,
            maxZoom: 8,
            rotation: ({{.Rotation}} * Math.PI / 180)
          })
        });
      });
    </script>
    {{ else if .IsVideo }}
    <script>
      $(function(){
        var video = document.getElementById("video");
        restartVideo = function(){ video.pause(); video.currentTime = 0; video.play(); };
        playVideo = function(){ video.play(); };
        pauseVideo = function(){ video.pause(); };
      });
    </script>
    {{ end }}
  </head>
  <body>
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#travelkit-navbar-collapse" aria-controls="travelkit-navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">Travel Kit</a>
      <div class="collapse navbar-collapse" id="travelkit-navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active"><a class="nav-link" href="/media">Media <span class="sr-only">(current)</span></a></li>
          <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
    <div class="container-fluid">
      {{ if .IsImage }}
      <div id="map" class="map"></div>
      {{ else if .IsVideo}}
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8" style="text-align:center;">
          <video id="video" width="800" height="500" controls>
            <source src="{{.URI}}" type="video/mp4">
          </video>
        </div>
        <div class="col-md-2"></div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8" style="text-align:center;">
          <button class="btn btn-default btn-lg" type="button" onclick="restartVideo()">
            <i class="fa fa-step-backward" aria-hidden="true"></i>
          </button>
          <button class="btn btn-primary btn-lg" type="button" onclick="playVideo()">
            <i class="fa fa-play" aria-hidden="true"></i>
          </button>
          <button class="btn btn-default btn-lg" type="button" onclick="pauseVideo()">
            <i class="fa fa-pause" aria-hidden="true"></i>
          </button>
        </div>
        <div class="col-md-2"></div>
      </div>
      {{ end }}
    </div>
  </body>
</html>
